# Django migrations
**/migrations/

# SQLite database
db.sqlite3

# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# ML models
*.joblib

# IDE
.vscode/
.idea/

# OS
.DS_Store
